@import "common";
@import "@material/drawer/mdc-drawer";
@import "@material/list/mdc-list";
@import "@material/image-list/mdc-image-list";
@import "@material/ripple/mixins";
@import "@material/typography/mdc-typography";
@import "@material/elevation/mdc-elevation";
@import "@material/layout-grid/mdc-layout-grid";





.home {
  display: flex; // Flexbox is used to easily arrange the persistent drawer and content side-by-side
  background-color: $mdc-theme-background;
  color: $mdc-theme-on-background;
}

.shrine-logo-drawer {
  display: block;
  width: 48px;
  padding: 40px 0 0;
  margin: 0 auto;
  fill: currentColor;
}

.shrine-title {
  @include mdc-typography(headline6);
  text-align: center;
  margin: 5px auto;
}







.demo-cell {
  background: white;
  height: 100px;
  color: black;
}


@media (max-width: 500px) {

  .demo-cell-mobile {

    display: none;
  }
}


@media only screen and (min-width : 501px ) and (max-width : 840px) {
  .demo-cell-tablet{

    display: none;
  }
}